<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
    <style>
      .column {
        display: inline-block;
        width: 45%;
        margin: 2.5%;
        padding: 20px;
        border: 1px solid black;
        box-sizing: border-box;
        vertical-align: top;
      }

      .red {
        background-color: red;
      }

      .blue {
        background-color: blue;
      }

      .green {
        background-color: green;
      }
    </style>
  </head>
  <body>
    <div class="column">
      <h2>Buttons</h2>
      <form method="POST">
        <button type="submit" name="color" value="red">Red</button>
        <button type="submit" name="color" value="blue">Blue</button>
        <button type="submit" name="color" value="green">Green</button>
      </form>
    </div>

    <div class="column {% if color == 'red' %}red{% elif color == 'blue' %}blue{% elif color == 'green' %}green{% endif %}">
      <h2>Background</h2>
      <p>This is the second column whose background changes when you click the buttons above.</p>
    </div>
  </body>
</html>

